.signin {
  margin-bottom: 0.5rem;
}

.signin h1 {
  color: #171717;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.75rem;
}

.signin form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signin button {
  margin-top: 1rem;
}
